
<div id="hero">
    <h1>The Ultimate Design Tool.
    </h1>
    <p>More powerful than ever.</p>

    <button>Buy</button>
    <img id="macbook1" src="../images/macbook.png" alt="Macbook Pro">
</div>

<div id="mainContent">
    <h2>We've made what you're looking for...</h2>
    <p>MacBook Pro elevates the notebook to a whole new level of performance and portability. Wherever your ideas take you, you’ll get there faster than ever with high‑performance processors and memory, advanced graphics, blazing‑fast storage and more.</p>
</div>