
<div id="hero">
    <h1>The Ultimate Design Tool.
    </h1>
    <p>More powerful than ever.</p>

    <button>Buy</button>
    <img id="macbook1" src="../images/macbook.png" alt="Macbook Pro">
</div>

<div id="mainContent">
    
</div>