
<div id="hero">
    <h1>The Ultimate Design Tool.
    </h1>
    <p>More powerful than ever.</p>

    <button>Buy</button>
    <img id="macbook1" src="../images/macbook.png" alt="Macbook Pro">
</div>

<div id="content1">
    <h2>We've made what you're looking for...</h2>
    <p>MacBook Pro elevates the notebook to a whole new level of performance and portability. Wherever your ideas take you, you’ll get there faster than ever with high‑performance processors and memory, advanced graphics, blazing‑fast storage and more.</p>
</div>

<div id="content2">
    <img src="../images/keyboard.png" alt="keyboard">
    
    <div id="info">
        <div id="column1">
            <h3>13-inch model</h3>
            <h4>up to</h4>
            <h5>2.8GHz</h5>
            <h6>quad-core</h6>

        </div>

        <div id="column2">

        </div>


    </div>
</div>