<header>
    <nav id="mainNav">
    <ul>
        <li><a href="#"></a>HOME</li>
        <li><a href="#"></a>CONTACT</li>
        <li><a href="#"></a>PRODUCTS</li>
        <li><a href="#"></a>ABOUT</li>
    </ul>
    </nav>
</header>
<div id="hero">
    <h1>The Ultimate Design Tool.
    </h1>
    <p>More powerful than ever.</p>

    <button>Buy</button>
    <img id="macbook1" src="../images/macbook.png" alt="Macbook Pro">
</div>

<div id="content1">
    <h2>We've made what you're looking for...</h2>
    <p>MacBook Pro elevates the notebook to a whole new level of performance and portability. Wherever your ideas take you, you’ll get there faster than ever with high‑performance processors and memory, advanced graphics, blazing‑fast storage and more.</p>
</div>

<div id="content2">
    <img src="../images/keyboard.png" alt="keyboard">
    
    <div class="info">
        <div id="column1">
            <h3>13-inch model</h3>
            <h4>up to</h4>
            <h5>2.8GHz</h5>
            <h6>quad-core</h6>

        </div>

        <div id="column2">
            <h3>15-inch model</h3>
            <h4>up to</h4>
            <h5>2.4GHz</h5>
            <h6>8-core</h6>

        </div>


    </div>
</div>

<div id="content3">
    <img src="../images/macbook3.png" alt="MacBook Pro">

    <div class="info">
        <div id="column1">
            <h3>All new touchbar.</h3>
            <h4>Get stuff done faster.</h4>
            <h5>Now on every MacBook Pro, the Touch Bar replaces the function keys that have long occupied the top of your keyboard with something much more versatile and capable. It changes automatically based on what you’re doing to show you relevant tools that are intuitive to use — system controls like volume and brightness, interactive ways to adjust or browse through content, and intelligent typing features like emoji and predictive text, just to name a few.</h5>


        </div>
    </div>
</div>

<div id="content4">
    <img src="./images/charge.png" alt="Macbook charging port">
    <div class="info">
        <h2>We've made it simpler.</h2>
    <p>Thunderbolt 3 combines ultra‑high bandwidth with the ultra‑versatility of the USB‑C industry standard to create one revved‑up universal port. It integrates data transfer, charging and video output in a single connector, delivering up to 40Gb/s of throughput for twice the bandwidth of Thunderbolt 2. Both sizes of MacBook Pro are available with up to four ports, so you can do all of that from either side. Existing devices are easily connected with a cable or adapter. And Thunderbolt 3 is reversible, so no matter how you plug in, it’s always right side up.</p>
    </div>
</div>

<div id="videoCon">
    <h2>Watch the Keynote.</h2>
    <video src="../images/video.mov" controls poster="../images/keynote.png"></video>
</div>