<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../public/css/main.css">
    <title>MacBook Pro</title>
</head>
<body>
    <h1 class="hidden">MacBook Pro</h1>
    <header>
        <h2></h2>
    </header>

    <div id="hero">

    <h2 id="title">The Ultimate Design Tool.</h2>
    <p>More powerful than ever.</p>
    <button>Buy</button>
    <!--<img id="macbook1" src="../images/macbook.png" alt="Macbook Pro">-->
</div>
    
</body>
</html>