.hidden {
    display: none;
  }
  
  h1, h2, h3, p {
    color: #eeeeee;
    font-family: Helvetica;
    text-align: center;
    letter-spacing: 3px;
    line-height: 20px;
  }
  
  h2 {
    font-size: 25px;
  }
  
  p {
    font-size: 15px;
  }

  body {
    background-color: #31333b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  #hero img {
    -webkit-transition: 1s;
    transition: 1s;
    position: relative;
    top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin: 0 auto;
  }
  
  #hero img:hover {
    -webkit-transition: 1s;
    transition: 1s;
    position: relative;
    top: -10px;
  }
  
  #hero button {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    color: white;
    font-size: 15px;
    background-color: #171c22;
    border-radius: 7em;
    border-width: 0em;
    padding: 7px 22px 7px 22px;
  }
  
  #hero button:hover {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: #171c22;
    background-color: white;
  }